body {
  font-family: 'Lora',"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:16px;
  line-height:2;
  background-color:black;
  color:white;
}

a{
  color:white;
  font-weight:200;
  letter-spacing:2px;
}

footer {
  border-top: 3px solid black;
  padding: 20px 0;

}

footer .list-inline {
  margin-top: 20px;
}

footer small{
  display: block;
  margin-top: 20px;
}
