.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform:uppercase;
  color:#42dca3;
}

.h1, h1 {
  font-size: 5em;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight:700;
  color:white;
}

.sub-head, .slogan {
  font-size:2em;
  color:#42dca3;
}

.sub-para {
  font-size:1.3em;
}

.navbar-toggle .fa {
  font-size: 20px;
  padding: 6px;
  color: #42dca3;
}

.navbar-brand {
  font-size: 24px;
  height: 70px;
  padding: 25px 5px;
}

.navbar {
  background-color: transparent;
  min-height: 70px;
}

.navbar-nav > li > form {
  margin-left: 15px;
}

.tb-border{
  border-top:solid 1px lightgray;
  border-bottom: solid 1px lightgray;
  padding-top: 50px;
  padding-bottom: 50px;

}

.backgroundimg {
  height: 800px;
  position: relative;
}

.backgroundimg:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(100%) contrast(.9) brightness(.5);
  filter: grayscale(100%) contrast(.9) brightness(.5);
  -moz-filter:grayscale(100%) contrast(.9) brightness(.5);
  // -webkit-box-shadow: inset 0px -200px 300px -118px rgba(0,0,0,0.9);
  // -moz-box-shadow: inset 0px -200px 300px -118px rgba(0,0,0,0.9);
  // box-shadow: inset 0px -250px 500px -50px #000;
}

.grayimg {
  -webkit-filter: grayscale(100%) contrast(.9) brightness(.8);
}

.backgroundimg .btn {
  margin-top: 35px;
}

.backgroundimg .btn img {
  width: 250px;
}


.homeHeadlines h2 {
  margin-bottom: 20px;
}

.homeCol {
  margin-top: 30px;
  margin-bottom: 30px;
}

.backgroundimg-1:before {
  background-image: url("../img/covers/ChristmasCover.jpg");
  background-position: center;
}

.backgroundimg-2:before {
  background-image: url("../img/covers/HomeCover.jpg");
  background-position: center;
}

.backgroundimg-3:before {
  background-image: url("../img/covers/AboutCover.jpg");
  background-position: top;
}

.backgroundimg-4:before {
  background-image: url("../img/covers/GetInvolvedCover.jpg");
  background-position: top;
}

.backgroundimg-5:before {
  background-image: url("../img/covers/ContactCover.jpg");
  background-position: top;
}

.fadeThis {
  margin: 0 auto 30px auto;
  -webkit-filter:  grayscale(50%) contrast(.9) ;
  -webkit-box-shadow: 0px 13px 23px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 13px 23px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 13px 23px -4px rgba(0,0,0,0.75);
}

.gallery1 {
  margin-top: 100px;
  margin-bottom: 60px;
}

.btn-youtube {
  position: relative;
}

.btn-youtube .fa {
  position: absolute;
  margin-top: -29px;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  color: #d62423;

}

li:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

a:focus, a:hover {
  text-decoration:none;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.nav > li > a:focus,
.nav > li > a:hover {
  background-color: inherit;
}

.inputPayPal {
  margin: 50px auto 0 auto;
}

.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse {
  max-height: none;
}

#donationForm p {
  color:red;
}

#toyChart {
  margin-top: 20px;
  margin-bottom: 60px;
}

#formContact p {
  margin-top: 5px;
  color: #e42218;
}


@media (max-width: 768px) {

  h1 {
    font-size:2.5em;
  }
}


@media (min-width: 768px) {

  .homeCol {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding: 25px 5px;
    font-size: 16px;
  }

  .navbar-nav > li > form {
    padding: 10px 5px;
    margin-top: 13px;
  }
}

@media (min-width: 992px) {
  .navbar-brand {
    padding: 25px 10px;
  }

  .navbar-nav > li > a {
    padding: 25px 10px;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  }

  .navbar-nav > li > form {
    padding: 10px 10px;
  }

  .navbar-nav {
    margin-right: 5px;
  }
}
