
.headercenter {
  margin-top:400px;
}

.headercontainer {
  width:100%;
}

.social {
  color:#337ab7;
}



.spaces {
  margin: 30px;
}


.navbar-collapse {
  border-top: 1px solid #ddd;
}

.navbar-toggle {
  margin-right: 5px;
}


.textBlockGetInvolved {
  margin-top: 100px;
}

.canvasChart {
  margin-top: 80px;
}

.paragraphs1 {
  margin-top: 100px;
}

.container--contact {
  margin-bottom: 100px;
}

.margin-t--10 {
  margin-top: 10px;
}

.margin-t--30 {
  margin-top: 30px;
}

.margin-t--40 {
  margin-top: 40px;
}

.margin-t--80 {
  margin-top: 80px;
}

.margin-b--60 {
  margin-bottom: 60px;
}

.margin-b--100 {
  margin-bottom: 100px;
}

.googleMapsIframe {
  margin-top: 60px;
}

.red {
  color: #e42218;
}

.yellow {
  color: #f68b00;
}

.green {
  color: #00b848;
}

.purple {
  color: #422a74;
}

.orange {
  color: #f68b00;
}

.blue {
  color: #01a9da;
}

#nameAlert {
  visibility: hidden;
}

#locationAlert {
  visibility: hidden;
}

#emailAlert {
  visibility: hidden;
}

.googleMapsIframe {
  margin-top: 0;
}
}

.backgroundimg {
color: #fff;
}
