.backgroundimg-1:before {
  background-image: url("../img/covers/ChristmasCover.jpg");
  background-position: bottom;
}

.backgroundimg-2:before {
  background-image: url("../img/covers/HomeCover.jpg");
}

.backgroundimg-3:before {
  background-image: url("../img/covers/AboutCover.jpg");
}

.backgroundimg-4:before {
  background-image: url("../img/covers/GetInvolvedCover.jpg");
}

.backgroundimg-5:before {
  background-image: url("../img/covers/ContactCover.jpg");
}

#nameAlert {
  visibility: hidden;
}

#locationAlert {
  visibility: hidden;
}

#emailAlert {
  visibility: hidden;
}

.red {
  color: #e42218;
}

.yellow {
  color: #dbdb01;
}

.green {
  color: #00b848;
}

.purple {
  color: #422a74;
}

.orange {
  color: #f68b00;
}

.blue {
  color: #01a9da;
}

.backgroundimg .btn {
  margin-top: 35px;
}

.backgroundimg .btn img {
  width: 250px;
}

.backgroundimg  p {
  font-size: 20px;
}

footer {
  border-top: 1px solid #ddd;
  padding: 20px 0;
}

footer .list-inline {
  margin-top: 20px;
}

footer small{
  display: block;
  margin-top: 20px;
}

.homeHeadlines h2 {
  margin-bottom: 20px;
  text-shadow: 2px 2px 2px grey;
}

.homeCol {
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .homeCol {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

/* PARAGRAPH INDENTS - ALL PAGES */

.aboutText p {
  text-indent: 20px;
}

.christmasText p {
  text-indent: 20px;
}
