.backgroundimg {
  color: #fff;
}

.backgroundimg .btn {
  position: relative;
}

.backgroundimg .btn .fa {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  color: #d62423;
  text-shadow: 0 0 5px #000;
}

.container--contact {
  margin-top: 100px;
  margin-bottom: 100px;
}
