.backgroundimg-1 {
  background-image: url("/img/covers/HomeCover.jpg");
}

.backgroundimg-2 {
  background-image: url("/img/covers/AboutCover.jpg");
}

.backgroundimg-3 {
  background-image: url("/img/covers/ChristmasCover.jpg");
}

.backgroundimg-4 {
  background-image: url("/img/covers/GetInvolvedCover.jpg");
}

.backgroundimg-5 {
  background-image: url("/img/covers/ContactCover.jpg");
}

#nameAlert {
  visibility: hidden;
}

#locationAlert {
  visibility: hidden;
}

#emailAlert {
  visibility: hidden;
}

.red {
  color: #e42218;
}

.yellow {
  color: #dbdb01;
}

.green {
  color: #00b848;
}

.purple {
  color: #422a74;
}

.orange {
  color: #f68b00;
}

.blue {
  color: #01a9da;
}

.navbar {
  min-height: 70px;
}

.navbar-nav > li > a {
  padding: 25px 10px;
  font-size: 16px;
}

.navbar-nav > li > a.btn-default {
  padding: 10px;
  margin-top: 13px;
}

.backgroundimg .btn {
  margin-top: 35px;
}

.backgroundimg .btn img {
  width: 250px;
}

.backgroundimg  p {
  font-size: 20px;
}


footer .list-inline {
  margin-top: 20px;
}

footer small{
  display: block;
  margin-top: 25px;
}

#aboutP {
  margin-left: 80px;
  text-shadow: 2px 2px 5px grey;
}

#christmasP {
  margin-left: 60px;
  text-shadow: 2px 2px 5px grey;
}

#getInvolvedP {
  margin-left: 40px;
  text-shadow: 2px 2px 5px grey;
}

#contactP {
  margin-left: 60px;
  text-shadow: 2px 2px 5px grey;
}

.homeHeadlines {
  margin-top: 50px;
  margin-bottom: 80px;
}
