<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 text-center">
        <a href="http://www.quepasavallarta.com">
          <img src="img/QuePasaLogo.png" alt="" width="150" height="">
        </a>
        <ul class="list-inline">
          <li><a class="social" href="https://www.facebook.com/LaBrigadadelaBasura/"><i class="fa fa-facebook-square fa-2x"></i></a></li>
          <li><a class="social" href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
          <li><a class="social" href="contact.html"><i class="fa fa-envelope-square fa-2x"></i></a></li>
        </ul>
        <small>Copyright &copy; {{ 'now' | date: '%Y' }} La Brigada de la Basura. All rights reserved.</small>
      </div>
    </div>
  </div>
</footer>
