<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/index.html"><span class="red">L</span><span class="yellow">a</span> <span class="green">B</span><span class="purple">r</span><span class="orange">i</span><span class="blue">g</span><span class="red">a</span><span class="yellow">d</span><span class="green">a</span> <span class="purple">d</span><span class="orange">e</span> <span class="blue">l</span><span class="red">a</span> <span class="yellow">B</span><span class="green">a</span><span class="purple">s</span><span class="orange">u</span><span class="blue">r</span><span class="red">a</span></a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right navbar-default">
          <li><a class="btn" href="#">Donate</a></li>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="christmas.html">Christmas</a></li>
          <li><a href="get-involved.html">Get Involved</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
